	<a class="app_name" href="/">homeGM</a>
<ul>  
    <% if logged_in? %>
    <li><a class="options" href="#">Create New Draft</a>
      <div class='dropdown'>
        <ul class="submenu">
          <li><a  href="/create_draft">Choice 1</a></li>
          <li><a  href="/create_draft">Choice 2</a></li>
          <li><a  href="/create_draft">Choice 3</a></li>
        </ul>
      </div>  
    </li>
    <li><a href="/drafts">Find a Draft</a></li>
    <li><a href="/create_draft">Create a Draft</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/user/profile"><%=current_user.username %></a></li>
	  <% else %>
	    <li><a href="/drafts">Find a Draft</a></li>
	    <li><a href="/login">Login</a></li>
	    <li><a  href="/create_user">Register</a></li>
	  <% end %>
</ul>

